#update {
    display: none;
}

body {
    background-color: #fff;
    color: #000;
    font-weight: 600;
    font-family: 'Segoe UI Light', sans-serif;
    letter-spacing: 2px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

input, textarea {
    background-color: #d3d3d3 !important;
    border-color: #d3d3d3 !important;
    color: #333 !important;
    font-weight: 600 !important;
    letter-spacing: 2px;
    transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
}

.shadow {
    box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.15) !important;
    transition: box-shadow 0.5s ease;
}

table, th, td {
    color: #000 !important;
    transition: color 0.5s ease;
}

input[type=number] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
    margin: 0;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}